<div class="jumbotron">
<h1>Pages#home NUMBER !!!!!!!!!! </h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>
	<%= link_to "Sig Up Now!", new_user_registration_path, class: "btn btn-primary btn-lg"%>

</div>
